body
{
    background: grey;
    display: flex;
    justify-content: center;
}
h1{
    font-family: monospace;
    font-size: 35px;
    color: burlywood;
    text-align: center;
}
h2{
    color: palegreen;
    text-align: center;
    font-family: monospace;
}
.textbox h2{
   font-size: 42px;
}
.textbox p{
    font-size: 20px;
    color: black;
    display: flex;
    font-family: cursive;
    margin: 10px;
}
img{
    float: left;
    width: 300px;
    height: 400px;
    border: 3px solid black;
    border-radius: 10px;
    margin-right: 15px;
}
p{
    font-size: 30px;
    font-family: cursive;
    color: black;
}
div {
    background-color: (58, 56, 56);
}
div a{
    text-decoration: none;
    color: black;
    font-size: 25px;
    font-family: monospace;
    display:inline-block;
    padding: 20px;
    transition: 0.5s;
    margin: auto;
}
.box:hover{
    transform: scale(1.3);
    z-index: 2;
}
.box{
    width: 200spx;
    margin: 0 10px;
    box-shadow: 0 0 20px grey;
    transition: 1s;
    border-radius: 20px;
}
ul {
   display: inline;
   margin: 0;
   padding: 0;
}
ul li {display: inline-block;}
ul li:hover {background: #555;}
ul li:hover ul {display: block;}
ul li ul {
   position: absolute;
   width: 200px;
   display: none;
}
ul li ul li { 
   background: #555; 
   display: block; 
}
.hi a{
   background-color: black;
   color: azure;
   padding: 20px;
   border-radius: 20px;
   width: 15%;
   margin-bottom: 15px;
}
audio{
    width: 70%;
}
.song p{
    font-family: monospace;
    background-color: burlywood;
    padding: 15px;
    width: 20%;
    border-radius: 20px;
}
h2{
    color: palegreen;
    text-align: center;
    font-family: monospace;
}
.sg h2{
   font-size: 42px;
}
.sg p{
    font-size: 20px;
    color: black;
    display: flex;
    font-family: cursive;
    margin: 10px;
}
.nezu a{
    background-color: black;
    color: white;
    border-radius: 20px;
}
.sg p{
    min-height: 8vh;
}